<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>507649404694-tgrqgaelanbr5iclf217vg82lqlcupgt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.507649404694-tgrqgaelanbr5iclf217vg82lqlcupgt</string>
	<key>API_KEY</key>
	<string>AIzaSyD6ZD9ErOSKeoewiD-5E0za5nYGM1zc_T4</string>
	<key>GCM_SENDER_ID</key>
	<string>507649404694</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.keepcoding.ChatKeepcodingEric</string>
	<key>PROJECT_ID</key>
	<string>keepcodingchatfirebase</string>
	<key>STORAGE_BUCKET</key>
	<string>keepcodingchatfirebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:507649404694:ios:9c3c7d22f2b27f9b</string>
	<key>DATABASE_URL</key>
	<string>https://keepcodingchatfirebase.firebaseio.com</string>
</dict>
</plist>